.header-fixed {
  position: sticky;
  top: 0;
  z-index: 1000;
}

ion-item {
  margin-bottom: 12px;
}

ion-button {
  margin-top: 15px;
}

.nota-info {
  margin-bottom: 15px;

  h2 {
    font-weight: bold;
    font-size: 22px;
  }

  .data {
    font-size: 0.85rem;
    color: #666;
  }
}

.texto-nota {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

ion-list {
  margin-bottom: 15px;

  ion-item {
    --padding-start: 10px;
    ion-label h3 {
      font-weight: bold;
    }
    ion-label p {
      font-size: 0.85rem;
      color: #555;
    }
  }
}
