<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defautHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Novo Usuário</ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="salvar()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Login</ion-label>
      <ion-input type="text" formControlName="login"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Salvar</ion-button>
  </form>
</ion-content>-->